/* reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img{
  max-width: 100%;
}
[class*=grid-], [class*=grid_], [class~=grid]{
  margin: 0;
}

[class*=col-], [class*=col_], [class~=col]{
  padding: 2%;
}

/* general styles */

header{
  padding: 2%;
  background-color: #eee
}
  section, footer{
  padding: 3rem 5%;
}


header a{
  padding: .3rem;
}

hr{
  margin: 2% -1.5%;
}

/* helper */

.drop-svg{
width: 3rem;
position: absolute;
bottom: 1rem;
right: calc(50% - 1.5rem);
}

.overlay-light{
  background-color: rgba(255, 255, 255, 0.2);
}
.overlay-dark{
    background-color: rgba(7, 7, 7, 0.2);
    color: #fff
}

.dark-sec{
  background-color: #202030;
  color: #BCD4DE;
}

.fill{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%
}

.flex-center{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*=bg]{
  background-position: center;
  background-size: cover;
}

.margin-bottom-5{
  margin-bottom: 5%;
}

.margin-top-2rem{
  margin-top: 2rem
}

.padded-2{
  padding: 2%;
}

.right{
  text-align:right;
}
.center{
  text-align: center;
}

.clear{clear: both;}

.float-right{
  float:right;
  clear: both;
}
.float-left{
  float: left;
  clear: both;
}

/* typographery  */

body{font-family: 'Merriweather', serif;}

h1,h2,h3,h4{
font-family: 'Merriweather Sans', sans-serif;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1.3rem;
  line-height: 1.4;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

a{
  color: inherit;
  text-decoration: none;
  transition:color 0s, transform 1s, -webkit-transform 1s;
  display: inline-block;
}
header nav a:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* default */

footer{
  background-color: #999;
  padding: 3%;
}

input,textarea{
  width: 80%;
  display: block;
  margin: 2% auto;
  padding: 2%
}

/* trips */

.img-spacer img{
  margin-bottom: -.3rem;
  width: 100%;
}


.banner{
    background-color: orange;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    text-align: center;
    padding: 0;
}



.flexfliper >  [class*=grid]:nth-child(2n){
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.flexfliper >  [class*=grid]:nth-child(2n) .right{
 text-align: left;
}

.photo-1-bg{
  padding-bottom: 25vw;
  background-color: darkgreen;
}


.photo-2-bg{
  padding-bottom:25vw;
  background-color: darkred;
}

.photo-3-bg{
  padding-bottom: 36vw;
  background-color: pink;
}

/* about */

.profile-pic{
  border-radius: 50%;
  width: 30%;
  margin: 1.5rem;
}


/* blog */

.blog-pic{
  min-height: 30vw;
  background-position: center;
  background-size:cover;
  margin-bottom: 1rem;
  color: #fff;
}

/* projects */

.brick{
  width: 300px;
}
.wall{
 max-width: 1260px;
 margin: auto;
 padding: 2rem 0;
}

@media all and (max-width: 1300px) {
  .wall{
   max-width: 940px;
}

@media all and (max-width: 1000px) {
  .wall{
   max-width: 620px;
}

@media all and (max-width: 700px) {
  .wall{
   max-width: 300px;
}


/* mobile */

@media all and (max-width: 768px){
  .mob-center{
    text-align: center;
  }

}


@media all and (max-width: 576px){
  section{
    padding: 3rem 10%
  }

  .profile-pic{
    width: 50%;
    margin: 1.5rem auto;
    display: block;
    float: none;
  }

  .mob-hide{
    display: none
  }
}
}
}
}
