---
layout: default
title: projects
---

<section class="flexfliper">
  <h1 class="editable">Portfolio</h1>
  <hr>
  {% for gal in site.projects %}
  <div class="grid padded-2">
    <div class="col-4_md-12 right">
      <h3>{{gal.title}}</h3>
      <p>{{gal.description}}</p>
      <a href="{{gal.url}}">see more</a>
    </div>
    <div class="col-8_md-12 grid">
      <div class="col-8">
        <div class="photo-1-bg" style="background-image:url({% for photos in gal.photos limit:1 %}
        {{photos.path}}
        {% endfor %})">

        </div>
      </div>
      <div class="col-4">
        <div class="photo-2-bg" style="background-image:url({% for photos in gal.photos limit:1 offset:1 %}
        {{photos.path}}
        {% endfor %})">
        </div>
      </div>
      <div class="col-12">
        <div class="photo-3-bg" style="background-image:url({% for photos in gal.photos limit:1 offset:2 %}
        {{photos.path}}
        {% endfor %})">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
