---
layout: default
title: My Portfolio
banner: true
banner_path: /uploads/untitled-1-of-1-1.jpg
banner_vertical_focus: 60%
banner_horizontal_focus: 50%
---

<section class="flexfliper">
  <h1 class="editable">
    Recent Projects&nbsp;
  </h1>
  <hr />
  {% assign gal = site.projects | sort: 'date' %}
  {% for gal in gal reversed %}
  <div class="grid padded-2">
    <div class="col-4_md-12 right">
      <a href="#"></a>
      <h3>{{gal.title}}</h3>
      <p>{{gal.description}}</p>
      <a href="{{gal.url}}">see more</a>
    </div>
    <div class="col-8_md-12 grid">
      <div class="col-8">
        <div class="photo-1-bg" style="background-image:url({% for photos in gal.photos limit:1 %}
        {{photos.path}}
        {% endfor %})">

        </div>
      </div>
      <div class="col-4">
        <div class="photo-2-bg" style="background-image:url({% for photos in gal.photos limit:1 offset:1 %}
        {{photos.path}}
        {% endfor %})">
        </div>
      </div>
      <div class="col-12">
        <div class="photo-3-bg" style="background-image:url({% for photos in gal.photos limit:1 offset:2 %}
        {{photos.path}}
        {% endfor %})">
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
